<%- include("partials/header"); -%>
    <h1><strong>Compose</strong></h1>
    <form action="/compose" method="post">
      <div class="form-group">
        <label for="title"><strong>Title</strong></label>
        <input type="text" id="title" class="form-control" name="title">
        <label for="post"><strong>Post</strong></label>
        <textarea name="post" id="post" class="form-control" rows="5"></textarea>
      </div>
        <button class="btn btn-primary" type="submit">Publish</button>
    </form>
<%- include("partials/footer"); -%> 